
<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="utf-8" />
        <title>Pure HTML5 file upload | Script Tutorials</title>
    </head>
    <body>
         <form action="http://localhost:4300/upload", method="post", enctype="multipart/form-data">
        	<input type="file"  name="image"/>
        	<input type="submit" value="Upload"/>
        </form>
    </body>
</html>